.Cartao{
    width: 30%;
    height: 250px;
    position: relative;
    margin-left: 52%;
    background:linear-gradient(to right, #1860A1  ,  #030E17);
    border-radius: 15px;  
} 

.reta{
    margin-top: 3%;
}

.chipverso{
    float: left;
}

.numeracao{
    margin-left: 20%;
    float:left;
    width: 60%;
    margin-top: 2%;

}